*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
}
.container{
    height: 100%;
    width: 100%;
    background-color: rgb(69,62,62);
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,1fr);
    padding: 4rem;
    border: 20px solid black;
    justify-items: start;
    align-items: end;
}
.item{
    height: 50px;
    width: 50px;
    background-color: rgb(32, 109, 109);
    border: 5px solid rgb(217, 202, 202);
    /* justify-self: stretch; */
    /* justify-self: center;
    align-self: center; */

    /* combination of align-self and justify-self */
    /* place-self: center; */
}